* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5e17e8;
    /* background-color: #3a01ac; */
}

#title {
    text-align: center;
    padding: 16px;
    color: #FFFFFF;
    text-shadow: 2px 2px black;
}

#buttons { /* buttons div */
    display: flex;
    justify-content: center;
}

.btn { /* button class (each btn) */
    padding: 16px;
    margin: 16px;
    border: 2px solid #000000;
    border-radius: 1.0em;
    background-color: #FFFFFF;
    text-shadow: 2px 1px #d2d2d2;
    box-shadow: 2px 2px black;
    font-size: 1.5em;
    /* green - #A1E817 */
}

.btn:hover {
    background-color: #e1e1e1;
    text-shadow: 2px 2px #c6c6c6;
    cursor: pointer;
}

#game { /* game div */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    margin: 3.5em;
    border-radius: 1.0em;
    background-color: #FFFFFF;
}

#announcement {
    display: flex;
    justify-content: center;
    align-items: center;
}