* {
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    padding: 16px;
}

#buttons { /* buttons div */
    display: flex;
    justify-content: center;
}

.btn { /* button class */
    padding: 16px;
    margin: 16px;
    border: 2px solid black;
    border-radius: 1.0em;
}

#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 3.5em;
}

#announcement {
    display: flex;
    justify-content: center;
    align-items: center;
}